<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact page</title>
</head>

<body>
    <h1>my contact number 8390302033</h1>
    <a href="/">back to hame </a>
    <a href="/about"> about</a>

</body>

</html>