<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../public/assets/Css/style.css">
</head>

<body>
    <h1>hello from home page and my name is {{name}} </h1>
    <a href="./about">go to about page </a>

</body>

</html>